body{
    background-color: aquamarine;
}

div{
    padding: 10px;
    background-color: magenta;
}

.odd{
    padding: 10px;
    background-color: magenta;
}
.even{
    padding: 10px;
    background-color: gold;
}

#heading-text{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: green;
}

h1.red{
    color: red;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p.red{
    color: red;
}