html {
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
body {
    background-color: aquamarine; 
    margin: 0;
}
header {
    height: 80px;
    background-color: #ffffff;
}
#header-container {
    width: 80%;
    margin: auto;
}
.col-3 {
    width: 32%;
    float: left;
}
.logo {
    padding-top: 30px; 
}
.menu {
    margin-top: 32px;  
}
.menu li {
    list-style-type: none;
    /* remove the bullet points */
    display: inline;
    /* displays in one line */
    font-size: .80em;
    color: #8e8e8e;
    padding-right: 30px;
}
.getStartedBTN {
    background-color: #6dc77a;
    border-radius: 28px;
    -moz-border-radius:28px;
    /* for mozilla */
    -webkit-border-radius:28px;
    /* for safari */
    text-decoration: none;
    color: #ffffff;
    padding: 10px 26px;
    margin-top: 20px;
    display: inline-block;
    font-size: 17px;
    float: right;
}


#top-section-main {
    background-image: url(../Images/Friends.png);
    height: 740px;
    border: none;
}
#top-section-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
#top-section-content h1 {
    font-size: 4em;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 15px;
}
#top-section-content p {
    font-size: 1.3em;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 0px;   
}

.play-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 50px 0 110px 0;
}


.main-form h6 {
    font-family: sans-serif;
    font-size: .9em;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
}
.main-form input {
    margin: 0;
    width: 30%;
    height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 100;
    border: none;
}
.main-form button {
    width: 30%;
    height: 42px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 100;
    background-color: #6dc77a;
    color: #ffffff;
    border: none;
}


#feature-section {
    padding-top: 100px;
}
.feature-section-title {
    width: 75%;
    text-align: center;
    font-weight: 200;
    line-height: 1.5em;
    margin: auto;
}
.feature-content {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;
}
.feature-content .col-3 img {
    width: 100%; 
}
.feature-content .col-3 p {
    font-size: .9em;
    letter-spacing: 1px;
}
.feature-content .col-3 {
    padding: 10px;
    width: 30%;
}